<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsk3.jane.cn.hsk3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.start.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.start.FixNameActivity" />
        <activity android:name=".activity.activity.main.MainActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceStyleActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceChooseSyntaxActivity" />
        <activity android:name=".activity.activity.main.sentence.SentencePracticeWordExampleActivity" />
        <activity android:name=".activity.activity.main.sentence.SentencePracticeWordActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceMoreSentenceActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceMakeSentenceActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceToneActivity" />
        <activity android:name=".activity.activity.main.sentence.SentenceWordDetailActivity"
            android:theme="@style/MyDialogStyle"/>

        <activity android:name=".activity.activity.mine.MineInfoActivity" />
        <activity android:name=".activity.activity.mine.MineStageActivity" />
        <activity android:name=".activity.activity.mine.MineAboutActivity" />
        <activity android:name=".activity.activity.mine.MineHelpActivity" />
        <activity android:name=".activity.activity.mine.MineSettingActivity" />
        <activity android:name=".activity.activity.mine.MineInfoNameActivity" />
        <activity android:name=".activity.activity.mine.MineHelpInstructionActivity" />
        <activity android:name=".activity.activity.mine.MineHelpQuestionActivity" />
        <activity android:name=".activity.activity.mine.MineHelpFeedbackActivity" />
        <activity android:name=".activity.activity.mine.MineSettingWordsActivity" />
        <activity android:name=".activity.activity.mine.MineSettingThemeActivity" />
        <activity android:name=".activity.activity.mine.MineAboutAgreementActivity" />
    </application>
</manifest>